{{#if updateRentalForm}}
  <h4>Update {{rental.owner}}'s {{rental.type}}</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="owner">Owner</label>
          {{input id="owner" value=rental.owner}}
        </div>

        <div class="form-group">
          <label for="type">Type</label>
          {{input id="type" value=rental.type}}
        </div>

        <div class="form-group">
          <label for="city">City</label>
          {{input id="city" value=rental.city.name}}
        </div>

        <div class="form-group">
          <label for="bedrooms">Number of Bedrooms</label>
          {{input id="bedrooms" value=rental.bedrooms}}
        </div>

        <div class="form-group">
          <label for="image">Image URL</label>
          {{input id="image" value=rental.image}}
        </div>

        <div class="form-group">
          <label for="cost">Cost per night</label>
          {{input id="cost" value=rental.cost}}
        </div>

        <button {{action 'update' rental}}>Save</button>
      </form>
    </div>
{{else}}
    <button {{action 'updateRentalForm'}}>Update</button>
{{/if}}
